*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("image/anki.png");
    background-repeat: no-repeat;
    background-size: 120%;
   
}
    
    
nav{
    display: flex;
    background:#f1f1f1;
    height:80px;
    margin: 40px;
    opacity: .5;
}
label.logo{
    flex-grow: 4;
    color:black;
    font-size:35px;
margin-top: 20px;
    letter-spacing: 3px;
    justify-content: center;    
}
nav > p{
    flex-grow: 1;
    
}
 
 
 
nav ul{
    flex-grow: 1;
    float:right;
    margin-right:55px;
}
nav ul li{
    display:inline-block;
    line-height:50px;
    margin:0 30px;
    font-size: 20px;
    color:#000000;
}
nav ul li :hover{
    background-color:black;
    color:aliceblue;
}
 
 
 
.image {
    display: flex;
    background-color: rgba(0,0,0,0);
    margin: 70px;
    height: 26px;
    width: 25px;
  }
  nav ul li:hover{
    background-color: royalblue;
}
  
.img1 {
    margin: 3%;
    position: relative;
    
}
.img2 {
  margin: 3%;
  position: relative;
  
}
.img3{
margin: 3%;
position: relative;
 
}
.img4 {
margin: 3%;
position: relative;
 
}
 
.first-txt {
    position: absolute;
    top: 55px;
    left: 80px;
    color: white;
}
  #flex1{
    height: 300px;
    width: 280px;
    margin: 20px;
  }
  #flex2{
    margin: 20px;
    height: 300px;
    width: 280px;
  }
  #flex3{
    margin: 20px;
    height: 300px;
    width: 280px;
  }
  #flex4{
    margin: 20px;
    height: 300px;
    width: 280px;
  }
 
  .flex-container h1{
      color: white;
      font-family: sans-serif;
      text-align: center;
      margin-top: 85px;
  }  
 
body > h1{
      margin-left: 15px; 
      color:cornsilk;
      font-family:cursive;
 
  }
  body > p{
      margin-left: 15px; 
      color:cornsilk;
      font-family:cursive;
 
  }
.icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .icon > img {
      width: 30px;
      height: 30px;
      padding: 20px;
      margin-top: 300px;
 
  }
body >h2{
    margin-left: 15px;
    color: cornsilk;
    font-family: cursive;
    
        
}